
/* Skill Icon */
img.skillIcon{
    display: inline;
    width: 30px;
  }

i.fab{
    font-size: 30px;
}

/* Personal Photo & overlay */
.photoContainer {
    position: relative;
    width: 50%;
  }
  
#photoImg{
    max-width: 20%;
    border-radius: 5px 55px;
  }
  
.overlay {
    width: 60%;
    border-radius: 15px;
    background-color: #4d0b426c;
    transition: 3.5s ease;
    padding: 1%;
    margin-left: 30%;
}

.container:hover .overlay {
  background-color: #eb5bd36c;
  }

.myName {
    color: white;
    font-size: 20px;
   
}

/* Text and pictures */

div.col{
    padding-left: 0;
    padding-right: 0;
}
p.text{
    position: relative;
    bottom: -10px;
    padding-left: 20px;
    padding-right: 0;
    text-align: left;   
}

img.palace{
    position: relative;
    top: -10px;
    left: -12px;
    width: 70%;
    border-radius: 70px 5px;
    padding-left: 0;
  }

.certificate{
    display: inline;
    margin: 4px;
    width: 30%;
}