.App{
  margin: 20px 30px;
  display: block;
  text-align: center;
  color: aliceblue;
}


.container{
  display: inline-block;
  border-radius: 25px;
  background-color: rgba(1, 0, 5, 0.397);
  margin: 20px 30px;
  padding: 10px;

}


.photoImg{
  display: inline-block;
  max-width: 150px;
  border-radius: 15px 50px;
}
